<a href="https://colab.research.google.com/github/alwiemuflich/Tugas_Machine_Learning/blob/main/Latihan1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path_="/content/drive/My Drive/Machine_Learning/covid_19_indonesia_time_series_all.csv"
dataset=pd.read_csv(path_)
dataset

           Date  ... Growth Factor of New Deaths
0      3/1/2020  ...                         NaN
1      3/2/2020  ...                        1.00
2      3/2/2020  ...                         NaN
3      3/2/2020  ...                         NaN
4      3/3/2020  ...                        1.00
...         ...  ...                         ...
6532  9/25/2020  ...                        1.00
6533  9/25/2020  ...                        0.00
6534  9/25/2020  ...                        2.00
6535  9/25/2020  ...                        5.00
6536  9/25/2020  ...                        1.67

[6537 rows x 37 columns]

In [2]:
dataset.head()

       Date  ... Growth Factor of New Deaths
0  3/1/2020  ...                         NaN
1  3/2/2020  ...                         1.0
2  3/2/2020  ...                         NaN
3  3/2/2020  ...                         NaN
4  3/3/2020  ...                         1.0

[5 rows x 37 columns]

In [3]:
dataset.shape

(6537, 37)

In [4]:
dataset.isnull().sum()

Date                              0
Location ISO Code                 0
Location                          0
New Cases                         0
New Deaths                        0
New Recovered                     0
New Active Cases                  0
Total Cases                       0
Total Deaths                      0
Total Recovered                   0
Total Active Cases                0
Location Level                    0
City or Regency                6537
Province                        208
Country                           0
Continent                         0
Island                          208
Time Zone                       208
Special Status                 5579
Total Regencies                   0
Total Cities                    182
Total Districts                   0
Total Urban Villages            184
Total Rural Villages            209
Area (km2)                        0
Population                        0
Population Density                0
Longitude                         0
Latitude                          0
New Cases per Million             0
Total Cases per Million           0
New Deaths per Million            0
Total Deaths per Million          0
Case Fatality Rate                0
Case Recovered Rate               0
Growth Factor of New Cases      749
Growth Factor of New Deaths     799
dtype: int64

In [5]:
dataset.max()

Date                                 9/9/2020
Location ISO Code                         IDN
Location                       Sumatera Utara
New Cases                                4823
New Deaths                                160
New Recovered                            4343
New Active Cases                         1533
Total Cases                            266845
Total Deaths                            10218
Total Recovered                        196196
Total Active Cases                      60431
Location Level                       Province
City or Regency                           NaN
Country                             Indonesia
Continent                                Asia
Total Regencies                           416
Total Cities                               98
Total Districts                          7230
Total Urban Villages                     8488
Total Rural Villages                    74953
Area (km2)                            1916907
Population                          265185520
Population Density                    16334.3
Longitude                             138.696
Latitude                              4.22561
New Cases per Million                  127.99
Total Cases per Million               6260.47
New Deaths per Million                    7.6
Total Deaths per Million               153.14
Case Fatality Rate                      9.99%
Case Recovered Rate                    98.89%
Growth Factor of New Cases                 92
Growth Factor of New Deaths                27
dtype: object

In [7]:
dataset.describe()

         New Cases  ...  Growth Factor of New Deaths
count  6537.000000  ...                  5738.000000
mean     81.538932  ...                     0.976887
std     319.673572  ...                     0.975189
min       0.000000  ...                     0.000000
25%       1.000000  ...                     1.000000
50%       8.000000  ...                     1.000000
75%      42.000000  ...                     1.000000
max    4823.000000  ...                    27.000000

[8 rows x 25 columns]

In [12]:
dataset.describe().loc['max','New Deaths']

160.0

In [22]:
data=dataset.dropna()
data

Empty DataFrame
Columns: [Date, Location ISO Code, Location, New Cases, New Deaths, New Recovered, New Active Cases, Total Cases, Total Deaths, Total Recovered, Total Active Cases, Location Level, City or Regency, Province, Country, Continent, Island, Time Zone, Special Status, Total Regencies, Total Cities, Total Districts, Total Urban Villages, Total Rural Villages, Area (km2), Population, Population Density, Longitude, Latitude, New Cases per Million, Total Cases per Million, New Deaths per Million, Total Deaths per Million, Case Fatality Rate, Case Recovered Rate, Growth Factor of New Cases, Growth Factor of New Deaths]
Index: []

In [24]:
dataset.dropna(axis=0,subset=['Date','Location','New Cases'],inplace=True)
dataset.shape

(6537, 37)

In [34]:
y=data['Island']
y

Series([], Name: Island, dtype: object)

In [35]:
fitur=['New Cases','Date']
X=data[fitur]
X

Empty DataFrame
Columns: [New Cases, Date]
Index: []

In [11]:
dataset.describe()['New Cases']['max']

4823.0

In [6]:
dataset.min()

Date                            3/1/2020
Location ISO Code                  ID-AC
Location                            Aceh
New Cases                              0
New Deaths                             0
New Recovered                          0
New Active Cases                   -1762
Total Cases                            1
Total Deaths                           0
Total Recovered                        0
Total Active Cases                   -33
Location Level                   Country
City or Regency                      NaN
Country                        Indonesia
Continent                           Asia
Total Regencies                        1
Total Cities                           1
Total Districts                       44
Total Urban Villages                  35
Total Rural Villages                 275
Area (km2)                           664
Population                        648407
Population Density                  8.59
Longitude                        96.9105
Latitude                         -8.6822
New Cases per Million                  0
Total Cases per Million             0.01
New Deaths per Million                 0
Total Deaths per Million               0
Case Fatality Rate                 0.00%
Case Recovered Rate                0.00%
Growth Factor of New Cases             0
Growth Factor of New Deaths            0
dtype: object